<app-header titulo="Movies App"></app-header>

<ion-content [fullscreen]="true">


  <app-slideshow-backdrop [peliculas]="peliculasRecientes" (cargarMas)="cargarMas($event)"></app-slideshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3 class="titulo-categoria">Tendencias</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [peliculas]="peliculasTendencia" categoria="trendign" (cargarMas)="cargarMas($event)"></app-slideshow-poster>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3 class="titulo-categoria">Pupulares </h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <app-slideshow-pairs [peliculas]="peliculasPopulares" (cargarMas)="cargarMas($event)"></app-slideshow-pairs>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3 class="titulo-categoria">Proximamente</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [peliculas]="peliculaProximamente" categoria="coming" (cargarMas)="cargarMas($event)"></app-slideshow-poster>
 
</ion-content>
