<ion-content [fullscreen]="true">

  <!-- TODO: Agregar funcionalidad de cargar más a los Slides: Lanzamientos, Tendencias y Proximamente -->

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3> Lanzamientos </h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [peliculas]="peliculasRecientes"></app-slideshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Tendencias</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [peliculas]="peliculasTendencia"></app-slideshow-poster>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3> Pupulares </h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <app-slideshow-pairs [peliculas]="peliculasPopulares" (cargarMas)="cargarMas()"></app-slideshow-pairs>

  <ion-grid fixed>
    <ion-row>
      <ion-col>
        <h3>Proximamente</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [peliculas]="peliculaProximamente"></app-slideshow-poster>
 
</ion-content>
