<app-header titulo="Favoritos"></app-header>

<ion-content [fullscreen]="true">


  <ng-container *ngIf="generos.length > 0">
    <div *ngFor="let pelicula of peliculasFavoritas | peliculasGenero: generos">
      
      <ion-grid *ngIf="pelicula.pelis.length > 0">
        <ion-row>
          <ion-col><h3 class="titulo-categoria">{{ pelicula.genero }}</h3></ion-col>
        </ion-row>
        <app-slideshow-favorites [peliculas]="pelicula.pelis"></app-slideshow-favorites>
      </ion-grid>
    </div>
  </ng-container>
  
  

</ion-content>
