.alide-loading{
    height: 160px;
    display: grid;
    place-items: center;
    max-width: 160px;
}

.alide-loading ion-spinner{
    color: #5f5f5f ;

}
.alide-loading p{
    margin: 10px;
    color: #5f5f5f;
    font-size: 14px;
}